
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/index.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap" rel="stylesheet">

    <title>InkWeb</title>
</head>
<body>
    <header id="header">
        <!-- DANIELLE: precisa desse id? -->
        <a href="index.html">
            <!-- DANIELLE: o ancora tem que ficar dentro da marcação h1 -->
            <img src="imagens/LogoInkWeb.png" alt="Logo"><!-- DANIELLE: IMAGEM DENTRO DO H1 -->
            <h1><span class="InkAzul">Ink</span>Web</h1>
        </a>
        <!-- <h1>
            <a href=""><img src="imagens/LogoInkWeb.png" alt="a">bla bla</a>
        </h1> -->
        <nav>
            <ul>
                <li><a href="#header">HOME</a></li> <!-- DANIELLE: esses # são p redirecionamento p a propria página, vc colocou por enquanto, né?-->
                <li><a href="#section_Portifolio">PORTIFÓLIO</a></li>
                <li><a href="#section_Studio">O STUDIO</a></li>
                <li><a href="#footer">CONTATO</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="section_Home" id="section_Home">
            <h2><span class="InkAzul">Ink</span>Web</h2>
            <p class="sub-titulo">seu estúdio de tatuagem online</p>
            <a href="agendamento.html"><p>Agende a sua tattoo</p></a><!-- DANIELLE: tem que colocar o ancora dentro do p -->
        </section>
        <p class="p_Top">Conheça o meu trabalho</p> <!-- DANIELLE: tá meio perdido essa parte -->
        <section class="section_Portifolio" id="section_Portifolio">
            <h3>Portifólio</h3>
            <p>Denner Augusto tattoo</p>
            <section>
                <!-- DANIELLE: aqui é uma lista com imagens e com um ALT coerente, heim?! pega as imagens do insta de denner  -->
                <img src="imagens/Tatoo_Caveira.png" alt="bla">
                <img src="imagens/Tatoo_Caveira.png" alt="bla">
                <img src="imagens/Tatoo_Caveira.png" alt="bla">
                <img src="imagens/Tatoo_Caveira.png" alt="bla">
                <img src="imagens/Tatoo_Caveira.png" alt="bla">
                <img src="imagens/Tatoo_Caveira.png" alt="bla">
                <img src="imagens/Tatoo_Caveira.png" alt="bla">
                <img src="imagens/Tatoo_Caveira.png" alt="bla">
                <img src="imagens/Tatoo_Caveira.png" alt="bla">
                <img src="imagens/Tatoo_Caveira.png" alt="bla">
                <img src="imagens/Tatoo_Caveira.png" alt="bla">
                <img src="imagens/Tatoo_Caveira.png" alt="bla">
            </section>
        </section>
        <p class="p_Top">Conheça o espaço do nosso studio</p> <!-- DANIELLE: não é um título? -->
        <section class="section_Portifolio" id="section_Studio">
            <h3>Studio</h3>
            <p>O espaço onde as vidas são marcadas</p>
            <section>
                <img src="imagens/Tatoo_Caveira.png" alt="bla">
                <img src="imagens/Tatoo_Caveira.png" alt="bla">
                <img src="imagens/Tatoo_Caveira.png" alt="bla">
                <img src="imagens/Tatoo_Caveira.png" alt="bla">
                <img src="imagens/Tatoo_Caveira.png" alt="bla">
                <img src="imagens/Tatoo_Caveira.png" alt="bla">
                <img src="imagens/Tatoo_Caveira.png" alt="bla">
                <img src="imagens/Tatoo_Caveira.png" alt="bla">
                <img src="imagens/Tatoo_Caveira.png" alt="bla">
                <img src="imagens/Tatoo_Caveira.png" alt="bla">
                <img src="imagens/Tatoo_Caveira.png" alt="bla">
                <img src="imagens/Tatoo_Caveira.png" alt="bla">
            </section>
        </section>
        <p class="p_Top">Onde fica o Studio:</p> <!-- DANIELLE: n é um titulo?? -->
        <section>
            <iframe width="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d992.185539745724!2d-35.17321887076878!3d-5.891802665712756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b2f8df3340c8dd%3A0x96516df05de2c6d3!2sR.%20Manoel%20Lel%C3%A9%2C%201896%20-%20Vila%20de%20Ponta%20Negra%2C%20Natal%20-%20RN%2C%2059090-510!5e0!3m2!1spt-BR!2sbr!4v1607131080194!5m2!1spt-BR!2sbr" width="1920" height="321" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </section>
    </main>
    <footer id="footer">
        <!-- DANIELLE: por que esse id?  -->
        <div>
            <h4>Contato</h4>
            <div>
                <!-- DANIELLE: aqui não é div é p mesmo -->
                <img src="imagens/fig_Loc.png" alt="End.">
                <p>Rua Despartista Jeremias 270 - Ponta Negra</p>
            </div>
            <div>
                <!-- DANIELLE: aqui tbm  -->
                <img src="imagens/fig_Whats.png" alt="num">
                <p>(84) 99679-2926</p>
            </div>
        </div>
        <div>
            <img class="logoFooter" src="imagens/FlorGrande.png" alt="Logo">
        </div>
        <div>
            <h4>Redes sociais</h4>
            <div>
                <!-- DANIELLE: aqui é um nav com lista e âncora -->
                <img src="imagens/fig_Insta.png" alt="Rd">
                <img src="imagens/fig_Face.png" alt="Rd">
            </div>
        </div>
    </footer>
</body>
</html>
