
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "InkWeb - Home";
}

<section class="section_Home" id="section_Home">
    <h2><span class="InkAzul">Ink</span>Web</h2>
    <p class="sub-titulo">seu estúdio de tatuagem online</p>
    <a href="agendamento.html"><p>Agende a sua tattoo</p></a>
</section>
<p class="p_Top">Conheça o meu trabalho</p>
<section class="section_Portifolio" id="section_Portifolio">
    <h3>Portifólio</h3>
    <p>Denner Augusto tattoo</p>
    <section>
        <img src="~/Images/Tatoo_Caveira.png" alt="bla">
        <img src="~/Images/Tatoo_Caveira.png" alt="bla">
        <img src="~/Images/Tatoo_Caveira.png" alt="bla">
        <img src="~/Images/Tatoo_Caveira.png" alt="bla">
        <img src="~/Images/Tatoo_Caveira.png" alt="bla">
        <img src="~/Images/Tatoo_Caveira.png" alt="bla">
        <img src="~/Images/Tatoo_Caveira.png" alt="bla">
        <img src="~/Images/Tatoo_Caveira.png" alt="bla">
        <img src="~/Images/Tatoo_Caveira.png" alt="bla">
        <img src="~/Images/Tatoo_Caveira.png" alt="bla">
        <img src="~/Images/Tatoo_Caveira.png" alt="bla">
        <img src="~/Images/Tatoo_Caveira.png" alt="bla">
    </section>
</section>
<p class="p_Top">Conheça o espaço do nosso studio</p>
<section class="section_Portifolio" id="section_Studio">
    <h3>Studio</h3>
    <p>O espaço onde as vidas são marcadas</p>
    <section>
        <img src="~/Images/Tatoo_Caveira.png" alt="bla">
        <img src="~/Images/Tatoo_Caveira.png" alt="bla">
        <img src="~/Images/Tatoo_Caveira.png" alt="bla">
        <img src="~/Images/Tatoo_Caveira.png" alt="bla">
        <img src="~/Images/Tatoo_Caveira.png" alt="bla">
        <img src="~/Images/Tatoo_Caveira.png" alt="bla">
        <img src="~/Images/Tatoo_Caveira.png" alt="bla">
        <img src="~/Images/Tatoo_Caveira.png" alt="bla">
        <img src="~/Images/Tatoo_Caveira.png" alt="bla">
        <img src="~/Images/Tatoo_Caveira.png" alt="bla">
        <img src="~/Images/Tatoo_Caveira.png" alt="bla">
        <img src="~/Images/Tatoo_Caveira.png" alt="bla">
    </section>
</section>
<p class="p_Top">Onde fica o Studio:</p>
<section>
    <iframe style="width: 100%; border:0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d992.185539745724!2d-35.17321887076878!3d-5.891802665712756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7b2f8df3340c8dd%3A0x96516df05de2c6d3!2sR.%20Manoel%20Lel%C3%A9%2C%201896%20-%20Vila%20de%20Ponta%20Negra%2C%20Natal%20-%20RN%2C%2059090-510!5e0!3m2!1spt-BR!2sbr!4v1607131080194!5m2!1spt-BR!2sbr" width="1920" height="321" frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</section>

