* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-weight: 100;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap');
body {
    background-color: #202223;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
}

    header a {
        display: flex;
        text-decoration: none;
    }

        header a img {
            margin-right: 1em;
        }

        header a h1 {
            margin-top: 7px;
        }

.InkAzul {
    color: #45A9FF;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

    header nav ul li a {
        padding: 1em;
        text-align: center;
    }

footer {
    display: flex;
    justify-content: space-around;
    padding: 1em 10em;
}

    footer div div {
        display: flex;
    }

    footer div .logoFooter {
        width: 180px;
        margin: 0 auto;
    }