
main section h3
{
    font-size: 4em;
}

main section p
{
    font-size: 1.5em;
}

main .section_Home 
{
    background-image: url("../Images/background.png");
    height: 100vh;
    width: 100%;
    padding: 4em 3em;
    margin-top: -3.2em;
}

main .section_Home h2
{
    margin-top: 0.7em;
    font-size: 10em;
}

main .section_Home p
{
    font-size: 2em;
    margin-top: -1em;
    font-style: normal;
    margin-left: 0.3em;
}

main .section_Home a
{
    border-radius: 1em;
    text-decoration: none;
}
main .section_Home a p
{
    background-color: #45A9FF;
    text-align: center;
    width: 11em;
    margin: 0 auto;
    border-radius: 1em;
    padding: 0.3em 1em;
    margin-top: 2em;
}

main .section_Portifolio 
{
    background-image: url("../Images/background1.png");
    background-repeat: no-repeat;
    width: 100%;
    padding: 47vh 3em 0 3em;
    text-align: center;
}

main .p_Top
{
    background-color: #202223;
    padding: 2em;
    text-align: center;
    font-size: 1.3em;
}

main .section_Portifolio section
{
    margin-top: 34em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main .section_Portifolio section img
{
    width: 23em;
    padding: 1em;
    display: flex;
}