<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Styles/_Layout.css">
    <link rel="stylesheet" href="~/Styles/Index.css">
</head>
<body>
    <header id="header">
        <a href="@Url.Action(actionName:"Index", controllerName:"Page")">
            <img src="~/Images/LogoInkWeb.png" alt="Logo">
            <h1><span class="InkAzul">Ink</span>Web</h1>
        </a>
        <nav>
            <ul>
                <li><a href="#header">HOME</a></li>
                <li><a href="#section_Portifolio">PORTIFÓLIO</a></li>
                <li><a href="#section_Studio">O STUDIO</a></li>
                <li><a href="#footer">CONTATO</a></li>
            </ul>
        </nav>
    </header>

    @RenderBody()

    <footer id="footer">
        <div>
            <h4>Contato</h4>
            <div>
                <img src="~/Images/fig_Loc.png" alt="End.">
                <p>Rua Despartista Jeremias 270 - Ponta Negra</p>
            </div>
            <div>
                <img src="~/Images/fig_Whats.png" alt="num">
                <p>(84) 99679-2926</p>
            </div>
        </div>
        <div>
            <img class="logoFooter" src="~/Images/FlorGrande.png" alt="Logo">
        </div>
        <div>
            <h4>Redes sociais</h4>
            <div>
                <img src="~/Images/fig_Insta.png" alt="Rd">
                <img src="~/Images/fig_Face.png" alt="Rd">
            </div>
        </div>
    </footer>
    <script>
        
    </script>
</body>
</html>
